
@{
    ViewData["Title"] = "AboutUs";
}
<address>
    @TempData["Company"]
</address>


<h1>AboutUs</h1>


<Strong>Founded in 1999</Strong>
<p>Contact-8600820892</p>
<p>Email-Sandeshkshirsagar505@gmail.com</p>
<p>Address-Pune,411041</p>